# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database files
*.db

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploaded images (optional)
backend/uploads/
frontend/assets
frontend/images